table {
  font-size: 0.25em;
  border-collapse: collapse;
  margin: 2em auto;

  td {
    text-align: right;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transform: scale(0.4);
    background: rgba(255, 255, 255, .1);

    &.given {
      background: rgba(255, 255, 255, .5);
    }

    &.correct {
      background: rgba(255, 255, 255, 1);
      color: #333;
      transform: scale(1);
    }
  }
}

.final-answer {
  text-align: center;
  font-size: 3em;
  margin: 0 0 0.5em;

  span {
    height: 1em;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.25em 0.5em;
    line-height: 1em;
  }
}

app-progress-bar {
  width: 50%;
  margin: 1em auto;
}
