:host {
  display: block;
  margin: 0 2em 2em;
}

ol {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  grid-template-columns: repeat(25, auto);
  grid-template-rows: repeat(2, auto);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2em;
}

.day {
  font-size: 1.5em;
}

.placeholder {
  opacity: 0.25;
}

a {
  display: block;
}
